[Desktop Entry]
Name=Virtual Keyboard
Name[zh_CN]=虚拟键盘
Comment=Virtual Keyboard
Comment[zh_CN]=虚拟键盘
Exec=/usr/bin/org.ukui.virtualkeyboard.start.sh
Terminal=false
Type=Application
X-GNOME-AutoRestart=true
X-GNOME-AutoRestart-Phase=Application
X-UKUI-AutoRestart=true
X-UKUI-AutoRestart-Phase=Application
NoDisplay=true
